@import "~bootstrap/scss/bootstrap";

section {
  background: grey url('../pictures/corfu.jpg') no-repeat center bottom;
  background-size: cover;
  height: 100vh;
}

div {
  font-size: 2rem;
  margin-left: 30%;
  margin-right: 30%;
  border-width: 2px;
  border: 3px solid white;
}
